body {
  background: url(../images/pink_rice.png);
  font-family: "Cinzel", serif;
}

.crystal-image {
  width: 200px;
  height: 200px;
  padding: 20px;
}

#points {
  width: 100%;
  height: 450px;
  color: black;
  text-align: center;
  background: rgb(224, 223, 223);
  border: 5px solid rgb(168, 166, 166);
  margin-bottom: 20%;
}

.display-3 {
  text-align: center;
  color: grey;
  font-size: 70px;
  background: url(assets/images/pink_rice.png);
  font-weight: bold;
  border: 5px solid rgb(252, 250, 250);
}

.lead {
  text-align: center;
}

#crystals {
  text-align: center;
  width: auto;
}

.col-md-8 {
  width: 100%;
}

h2 {
  text-align: center;
}
#number-to-guess {
  color: red;
  font-size: 40px;
}
#number {
  margin: 0 10% 0 10%;
}
#totalScore {
  color: red;
}
#total {
  color: red;
}
